html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
body{
    color: #E7BB85 !important;
    background-color: #331513;
    background-image: url("../img/section.jpg");
    background-position: center 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: calc(2146px - 150px);
    padding-right: 0 !important; /* fix modal fade */
}
button{
    color: #331513 !important;
    background-color: #E7BB85 !important;
    border: solid 3px #331513 !important;
}
nav{
    width: 100%;
    position: absolute !important;
    background:rgba(0, 0, 0, 0.5) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
nav a{
    color: #E7BB85 !important;
    font-size: 1.5em;
}
nav a:hover{
    color: #DA9C47 !important;
}
.navbar-brand img{
    height: auto;
    width: 20vw;
    max-width: 180px;
    min-width: 120px;
}


footer{
    background-color: #9A5303;
}
.modal-content{
    background-color: #E7BB85 !important;
    color: #331513 !important;
}