{% extends "template.html" %}
{% block css %}
  <link href="{{ url_for('static', filename='css/formstyle.css') }}" rel="stylesheet">
{% endblock %}
{% block traveler %}
<section id="traveler">
  <div class="container-fluid">
    <div class="form-row">
      {%for image in url%}
      {% set outer_loop = loop.index %}
      <div class="col-md-4">
        <img class="w-50 rounded mx-auto d-block" src="{{ url_for('static', filename='' + image) }}">
        {%for i in range(0, len) if i+1==outer_loop%}
        <h3 class="text-center mt-2">{{guides[i]['title']}}</h3>
        <div class="text-center">
          <p>{{guides[i]['description']}}</p>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Ocena:</span>
          </div>
          <input type="text" class="form-control">
        </div>
        {%endfor%}
      </div>
      {%endfor%}
    </div>
  </div>
</section>
{% endblock %}