<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>TigerClaw</title>
    <script src="https://kit.fontawesome.com/285daa856a.js" crossorigin="anonymous"></script>
    {% block css %}
      <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="navbar-collapse collapse w-100 order-1 order-lg-0 dual-collapse2">
        <ul class="navbar-nav mr-auto text-left">
          <li class="nav-item active">
            <a class="nav-link" href="/#jungle">Mapa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#traveler">Przewodnicy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#formContainer">Formularz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#about">Kontakt</a>
          </li>
        </ul>
      </div>
      <div class="mx-lg order-0">
        <a class="navbar-brand" href="/">
          <img src="{{ url_for('static', filename='img/logo.png') }}" class="d-inline-block align-top" alt="TigerClaw">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto text-left">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/account">{{ session['login'] }}</a>
          </li>
          {% endif %}
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Wyloguj się</a>
          </li>
          {% endif %}
          {% if current_user.is_authenticated %}
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Logowanie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Rejestracja</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% block header %}
    {% endblock %}
    {% block jungle %}
    {% endblock %}
    {% block traveler %}
    {% endblock %}
    {% block formContainer %}
    {% endblock %}
    {% block rope2 %}
    {% endblock %}
    {% block about %}
    {% endblock %}
    <footer class="footer">
      <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">Polityka prywatności</button>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalCenterTitle">Polityka prywatności</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h1 class="text-center">Zgoda jest dobrowolna i możesz ją w dowolnym momencie wycofać w ustawieniach zaawansowanych.</h1>
              <p>Ponadto masz prawo żądania dostępu, sprostowania, usunięcia lub ograniczenia przetwarzania danych. W polityce prywatności znajdziesz informacje jak zakomunikować nam Twoją wolę skorzystania z tych praw.</p>
              <p>Szczegółowe informacje na temat przetwarzania Twoich danych znajdują się w polityce prywatności.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
              <button type="button" class="btn btn-primary">Zapisz</button>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% block prescript %}
    {% endblock %}
  </body>
</html>